{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
        <button class="btn btn-warning">На страницу про нас</button>

        {% for el in values %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}
